services:
  db:
    image: postgres:16-alpine
    restart: always
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: web3mag
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - web3mag

  redis:
    image: redis/redis-stack:latest
    restart: always
    ports:
      - '6379:6379'
      - '8001:8001'
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']
    environment:
      REDIS_ARGS: '--requirepass redispass'
    networks:
      - web3mag

volumes:
  db_data:
  redis_data:

networks:
  web3mag:
    driver: bridge
