services:
  db:
    image: postgres:16-alpine
    restart: always
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: web3mag
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
